body {
    line-height: 1.2;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.wrapper {
    max-width: 1735px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__logo {
    max-width: 323px;
    padding-top: 12px;
    padding-bottom: 18px;
}

.work-info {
    margin: 0;
    margin-left: auto;
    margin-right: 90px;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 35%;
}

.work-info__item {
    font-size: 18px;
}

.work-info__item a {
    display: block;
    padding: 0 20px;
    font-size: 16px;
    color: #000000;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.work-info__item:first-child {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.work-info__item .icon {
    margin-right: 20px;
    font-size: 20px;
    color: #1282C3;
}

.work-info__time {
    font-size: 20px;
}

.button {
    display: block;
    max-width: 258px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 19px;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    font-size: 23px;
    line-height: 25px;
    font-weight: 600;
    color: #000000;
    background-color: transparent;
}

.button--blue-border {
    border: 3px solid #4DA1D2;
}

.button--blue-border:hover {
    background-color: #4DA1D2;
}

.header__button {
    width: 33%;
}

.header__background {
    background-color: #162D44;
}

.main-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.main-nav__link {
    display: block;
    padding: 24px 32px 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 23px;
    line-height: 25px;
    color: #ffffff;
    text-align: center;
    border-top: 6px solid transparent;
}

.main-nav__link:hover {
    background-color: #304050;
    border-top: 6px solid #1282C3;
}

.socials {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
}

.header__wrapper--background {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.socials__item {
    margin-right: 15px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials a {
    display: block;
    font-size: 32px;
    color: #ffffff;
}

.socials a:hover {
    color: #1282C3;
}

.main-banner {
    margin-bottom: 60px;
    padding-top: 260px;
    padding-bottom: 336px;
    background-color: #1282C3;
    background-image: url("https://ll-code-test.s3.amazonaws.com/images/slide2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.main-banner__block {
    width: 785px;
}

.main-banner__title {
    margin: 0;
    margin-bottom: 13px;
    padding: 0;
    font-size: 65px;
    line-height: 79px;
    font-weight: 600;
    color: #ffffff;
}

.main-banner__text {
    margin: 0;
    margin-bottom: 18px;
    padding: 0;
    font-size: 27px;
    line-height: 43px;
    font-weight: 500;
    color: #ffffff;
}

.main-banner__button {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #ffffff;
}

.button--white-border {
    border: 4px solid #FFFFFF;
    border-radius: 4px;
}

.team {
    margin-bottom: 100px;
}

.simple-title {
    margin: 0;
    margin-bottom: 70px;
    padding: 0;
    font-weight: 700;
    font-size: 48px;
    color: #000000;
    text-align: center;
}

.simple-title--team {
    margin-bottom: 0;
}

.team__wrapper {
    max-width: 1700px;
}

.team__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.team__list li {
    max-width: 390px;
    width: 23%;
    margin-right: 20px;
}

.team__list li:last-child {
    margin-right: 0;
}

.team__card {
    text-align: center;
}

.team__photo-wrap {
    width: 165px;
    height: 165px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    -webkit-transform: translateY(65px);
    transform: translateY(65px);
    border: 20px solid #ffffff;
}

.team__card:hover .team__photo-wrap{
    -webkit-transform: translateY(55px);
    transform: translateY(55px);
}

.team__more {
    padding-top: 110px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 55px;
    background-color: #f6f6f6;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.team__name {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    font-size: 22px;
    font-weight: 700;
}

.team__position {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 500;
    color: #1282C3;
}

.team__phone {
    margin: 0;
    padding: 0;
    font-size: 26px;
    font-weight: 500;
    color: #000000;
}

.blog {
    margin-bottom: 80px;
}

.blog__wrapper {
    max-width: 1470px;
    overflow: hidden;
}

.blog__list {
    margin: 0;
    margin-bottom: 85px;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.blog__list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 50%;
    max-width: 692px;
    margin-right: 10px;
}

.blog__post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
    height: 605px;
    background-image: url("https://ll-code-test.s3.amazonaws.com/images/slide3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.blog__post a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.blog__mark {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 6px;
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #e27877;
}

.blog__preview {
    margin: 0 auto;
    margin-top: auto;
    padding: 40px 50px;
    background-color: #ffffff;
    width: 90%;
    text-align: center;
    -webkit-box-shadow: 0 0 9px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 9px 3px rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.blog__title {
    margin: 0;
    padding: 0;
    font-size: 30px;
    color: #000000;
}

.blog time {
    font-size: 22px;
    font-weight: 700;
    color: #1282C3;
}

.blog__toggles {
    margin: 0 auto;
    padding: 0;
    max-width: 70px;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.blog__toggle {
    display: block;
    border: none;
    background-color: #d2cece;
    width: 15px;
    height: 15px;
}

.blog__toggle--active {
    background-color: #1282C3;
}

.footer {
    background-color: #304050;
}

.footer__wrapper {
    max-width: 1920px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer__socials .icon {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.3);
}

.footer__text {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.3);
}
